.header {
	background-color: #343a40;
	color: #fff;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	flex-shrink: 0;

	>h1 {
		padding: 0 0 0 5px;
		font-size: 1.25rem;
		margin: 0;
	}

	>hr {
		flex-grow: 1;
		flex-shrink: 1;
		color: transparent;
	}
}
