.logIn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	>div {
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: .3rem;
	}
}

.header {
	padding: 1rem;
	border-bottom: 1px solid #dee2e6;
	line-height: 1.5;
	font-size: 1.5rem;
}

.body {
	padding: 1rem;
}

.footer {
	display: flex;
	align-items: center;
	padding: .75rem;
	border-top: 1px solid #dee2e6;
	justify-content: flex-end;
}