.textbox {
   line-height: 1.5;
   color: #495057;
   border: 1px solid #ced4da;
   border-radius: .25rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   height: calc(1.5em + .75rem + 2px);
   padding: .375rem .75rem;
   background-color: #fff;

   &::placeholder {
      color: #6c757d;
      opacity: 1;
   }

   &:focus {
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
   }
}