.editing {
   > form > .inner {
      cursor: default !important;

      .description {
         display: flex;
      }

      > div > .editable {
         padding: 5px;
      }
   }

   input, textarea, label, .pathSelection {
      width: 100%;
   }

   .author {
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      clear: both;
   }
}

.inner {
   margin-bottom: 10px;
   display: block !important;

   > img {
      float: left;
   }

   label, .pathSelection {
      margin: 0;
      > span:first-of-type {
         width: 70px;
         text-align: right;
         margin-right: .5rem;
         display: inline-block;
         font-weight: bolder;
      }
   }
}

.title {
   font-weight: bold;
   display: flex;
   flex-direction: row;
   align-items: center;

   > input {
      font-weight: bold;
   }

   > span, > svg {
      white-space: nowrap;
      display: flex;
   }

   > svg {
      height: 18px;
      padding-left: 5px;
   }
}

.year {
   width: auto !important;
}

.author, .size, .uploadTime, .narrator, .genre, .path {
   color: gray;
}

.size {
   font-size: 85%;
}

.uploadTime {
   font-size: 80%;
}

.folder {
   height: 15px;
}

.path {
   > label, > .pathSelection {
      display: flex;

      > span:nth-child(2) {
         cursor: pointer;
         display: flex;
         align-items: center;
         width: 100%;

      }

      .folderList {
         height: 100px;
         overflow: auto;
      }

      svg {
         margin: 0px 10px 0px 5px;
      }
   }

   div {
      width: 100%;
      align-items: center;

      &.buttons {
         display: flex
      }
   }
}

.selectableFolder {
   &:hover {
      border: solid black 1px;
   }

   &.selected {
      background-color: blue;
      color: white;
   }

   cursor: pointer;
   display: flex;
   align-items: center;
}

.subFolderList {
   padding-left: 10px;

   .newFolder {
      display: flex;
      flex-direction: row;
   }
}

.newFolderButton {
   display: flex;
   align-items: center;
   font-size: 75%;
}