html, body, #root, .App {
   height: 100%;
}

.App, .mainContent {
   display: flex;
   flex-direction: column
}

.mainContent, .mainContent > .nav-tabs > .active {
   background-color: #fafafa;
}

.navBar, .nav-tabs {
   flex-grow: 0;
   flex-shrink: 0;
}

.mainContent {
   overflow: hidden;
}

.tab-content {
   overflow: auto;
}

.mainContent, .tab-content {
   flex-grow: 1;
   flex-shrink: 1;
}

.loading {
   display: flex;
   height: 100%;
}

.loading > .inner {
   display: flex;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
}

.loading > .inner > .text {
   padding-left: 5px;
}

.rootItemList {
   margin-left: 0px !important;
   border-top: 0 !important;
   border-bottom: 1px solid black;
}

.item {
   margin-left: 30px;
   display: flex;
   flex-direction: column;
   border-top: 1px solid black;
   padding: 10px 0px 10px 10px;
}

.item > .inner {
   display: flex;
   align-items: center;
   color: black !important;
   text-decoration: none !important;
}

.item > .inner > svg, .book > .inner > img {
   height: 130px;
   padding-right: 10px;
   align-self: flex-start;
}

.book .title {
   font-weight: bold;
}

.book .author, .book .size {
   color: gray;
}

.book .size {
   font-size: 85%;
}

.logIn, .settings, .addUser, .changePassword {
   align-items: center;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.navbar-nav .nav-link {
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}

.navbar-nav .nav-link svg {
   width: 45px;
}

.addUser {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(50, 50, 50, .5);
}

.brand {
   display: flex;
}

.directory > .inner {
   cursor: pointer;
}

.book > .inner {
   padding-bottom: 10px;
}

 .mainNav {
    position: static;
 }

 .mainNav svg {
   width: 40px;
   max-height: 40px;
   padding-right: 10px;
}

.mainNav > .dropdown-menu {
   right: 0;
   left: auto
}