.alert {
	padding: 1rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .375rem;
	transition: opacity .15s linear;
}

.danger {
	color: #58151c;
	background-color: #f8d7da;
	border-color: #f1aeb5;
}

.primary {
	color: #052c65;
	background-color: #cfe2ff;
	border-color: #9ec5fe;
}
